.text2{
	color: aqua;
	font-size: 180%;
	font-family: times new roman;
}
.text{
	color: red;
	font-size: 230%;
	font-family: times new roman;
}
/*text in main menu*/.text1{
	color: blue;
	font-size: 300%;
	font-family: times new roman;
}
.text2{
	color: aqua;
	font-size: 180%;
	font-family: times new roman;
}